#section1::after,
#section2::after {
  content: '';
  height: 16px;
  width: 16px;

  border-bottom: 2px solid var(--text-color-main);
  border-left: 2px solid var(--text-color-main);
  transform: rotate(-45deg);

  position: absolute;
  left: calc(50% - 8px);

  animation: arrow-bump 1s forwards;
  animation-delay: 2s;
}

/* First page "I build things." */
#section1 {
  justify-content: center;
  align-items: center;
}
#section1::after {
  bottom: var(--arrow-margin);
}

.title {
  font-size: var(--size-x-large);
  font-weight: bold;
  color: var(--text-color-main);
}

.caption {
  font-size: var(--size-medium);
}

/* Second page "What?" */
#section2 {
  align-content: center;
  justify-content: space-evenly;
}
#section2::after {
  bottom: calc(var(--arrow-margin) - 100vh);
}

/* Third page "Find me" */
#section3 {
  align-content: center;
  justify-content: center;
}

.answer {
  margin-top: 5px;
  font-weight: bold;
  color: var(--text-color-main);
}
.answer:not(:last-child) {
  margin-bottom: var(--answer-space);
}
